[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
telebot = "*"
huggingface-hub = "*"
pandas = "*"
langchain = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
