[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
huggingface-hub = "*"
pandas = "*"
langchain = "*"
faiss-cpu = "*"
langchain-community = "*"
aiogram = "*"
torch = "*"
transformers = "*"
aiogram-dialog = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.11"
